function Main.moveSquare 0
push argument 0
pop pointer 0
not
if-goto Main.moveSquare.if.0.0
call square.moveUp 0
pop temp 0
label Main.moveSquare.if.0.0
not
if-goto Main.moveSquare.if.1.0
call square.moveDown 0
pop temp 0
label Main.moveSquare.if.1.0
not
if-goto Main.moveSquare.if.2.0
call square.moveLeft 0
pop temp 0
label Main.moveSquare.if.2.0
not
if-goto Main.moveSquare.if.3.0
call square.moveRight 0
pop temp 0
label Main.moveSquare.if.3.0
call Sys.wait 1
pop temp 0
push constant 0
return
