function Main.run 0
label Main.run.while.0.0
not
not
if-goto Main.run.while.0.1
push constant 0
push constant 0
push constant 30
call Square.new 3
pop temp 0
push temp 0
pop  0
goto Main.run.while.0.0
label Main.run.while.0.1
push constant 0
return
