call draw 0
call Memory.deAlloc 1
call Screen.setColor 1
call Screen.drawRectangle 1
call Screen.setColor 1
call Screen.drawRectangle 1
call erase 0
call draw 0
call erase 0
call draw 0
call Screen.setColor 1
call Screen.drawRectangle 1
call Screen.setColor 1
call Screen.drawRectangle 1
call Screen.setColor 1
call Screen.drawRectangle 1
call Screen.setColor 1
call Screen.drawRectangle 1
call Screen.setColor 1
call Screen.drawRectangle 1
call Screen.setColor 1
call Screen.drawRectangle 1
call Screen.setColor 1
call Screen.drawRectangle 1
call Screen.setColor 1
call Screen.drawRectangle 1
