function Square.new 0
push  0
pop  0
push  0
pop  0
push  0
pop  0
call draw 0
return
function Square.dispose 0
call Memory.deAlloc 1
pop temp 0
return
function Square.draw 0
push constant 1
call Screen.setColor 1
push  0
push  0
push  0
push  0
add
push  0
push  0
add
call Screen.drawRectangle 1
pop temp 0
return
function Square.erase 0
push constant 1
neg
call Screen.setColor 1
push  0
push  0
push  0
push  0
add
push  0
push  0
add
call Screen.drawRectangle 1
pop temp 0
return
function Square.incSize 0
push  0
push  0
add
push constant 254
push  0
push  0
add
push constant 510
call erase 0
push  0
push constant 2
add
pop  0
call draw 0
pop temp 0
return
function Square.decSize 0
push  0
push constant 2
call erase 0
push  0
push constant 2
pop  0
call draw 0
pop temp 0
return
function Square.moveUp 0
push  0
push constant 1
push constant 1
neg
call Screen.setColor 1
push  0
push  0
push  0
add
push constant 1
push  0
push  0
add
push  0
push  0
add
call Screen.drawRectangle 1
push  0
push constant 2
pop  0
push constant 1
call Screen.setColor 1
push  0
push  0
push  0
push  0
add
push  0
push constant 1
add
call Screen.drawRectangle 1
pop temp 0
return
function Square.moveDown 0
push  0
push  0
add
push constant 254
push constant 1
neg
call Screen.setColor 1
push  0
push  0
push  0
push  0
add
push  0
push constant 1
add
call Screen.drawRectangle 1
push  0
push constant 2
add
pop  0
push constant 1
call Screen.setColor 1
push  0
push  0
push  0
add
push constant 1
push  0
push  0
add
push  0
push  0
add
call Screen.drawRectangle 1
pop temp 0
return
function Square.moveLeft 0
push  0
push constant 1
push constant 1
neg
call Screen.setColor 1
push  0
push  0
add
push constant 1
push  0
push  0
push  0
add
push  0
push  0
add
call Screen.drawRectangle 1
push  0
push constant 2
pop  0
push constant 1
call Screen.setColor 1
push  0
push  0
push  0
push constant 1
add
push  0
push  0
add
call Screen.drawRectangle 1
pop temp 0
return
function Square.moveRight 0
push  0
push  0
add
push constant 510
push constant 1
neg
call Screen.setColor 1
push  0
push  0
push  0
push constant 1
add
push  0
push  0
add
call Screen.drawRectangle 1
push  0
push constant 2
add
pop  0
push constant 1
call Screen.setColor 1
push  0
push  0
add
push constant 1
push  0
push  0
push  0
add
push  0
push  0
add
call Screen.drawRectangle 1
pop temp 0
return
